{{define "yield"}}
    <table class="landing-assignments">
        <tbody>
            <tr>
                <td>Martin</td>
                <td></td>
            </tr>
            <tr>
                <td>Theodore</td>
                <td>Toilet</td>
            </tr>
            <tr>
                <td>Zuzana</td>
                <td></td>
            </tr>
            <tr>
                <td>Sophie</td>
                <td>Kitchen</td>
            </tr>
            <tr>
                <td>Orfeas</td>
                <td>Resident Trash Taker</td>
            </tr>
            <tr>
                <td>Chryssa</td>
                <td>Living Room</td>
            </tr>
        </tbody>
    </table>
{{end}}
