{{define "yield"}}
<h1>Edit your job</h1>

<form action="/jobs/{{.ID}}/update" method="POST">
    {{csrfField}}
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="What is the name of your job?" value="{{.Name}}">
    <input type="submit" value="Save">
</form>

<h2>Dangerous zone</h2>
<form action="/jobs/{{.ID}}/delete" method="POST" onsubmit="return confirm('Confirm delete?');">
    {{csrfField}}
    <input type="submit" class="mod-delete" value="Delete">
</form>
{{end}}
