{{define "yield"}}
<h1>Jobs</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>View</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <th scope="row">{{.ID}}</th>
            <td>{{.Name}}</td>
            <td>
                <a href="/jobs/{{.ID}}">View</a>
            </td>
            <td>
                <a href="/jobs/{{.ID}}/edit">Edit</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<a href="/jobs/new">New Job</a>
{{end}}
