{{define "yield"}}
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>View</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {{range .}}
          <tr>
            <th scope="row">{{.ID}}</th>
            <td>{{.Name}}</td>
            <td>
              <a href="/jobs/{{.ID}}">
                View
              </a>
            </td>
            <td>
              <a href="/jobs/{{.ID}}/edit">
                Edit
              </a>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
    <a href="/jobs/new" class="btn btn-primary">
      New Job
    </a>
  </div>
</div>
{{end}}
