{{define "yield"}}
<h1>Sign up</h1>

<form action="/signup" method="POST">
    {{csrfField}}

    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Your full name" value="{{.Name}}">

    <label for="email">Email address</label>
    <input type="email" name="email" id="email" placeholder="Email" value="{{.Email}}">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">

    <input type="submit"value="Sign Up">
</form>

<div class="mod-space">
    <a href="/login">Already have an account?</a>
</div>
{{end}}
